<section style="background: url('assets/img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
          <div class="homepage owl-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <p><img src="assets/img/logo.png" alt="" class="ml-auto"></p>
                  <h1>Multipurpose responsive theme</h1>
                  <p>Business. Corporate. Agency.<br>Portfolio. Blog. E-commerce.</p>
                </div>
                <div class="col-md-7"><img src="assets/img/template-homepage.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center"><img src="assets/img/template-mac.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h2>46 HTML pages full of features</h2>
                  <ul class="list-unstyled">
                    <li>Sliders and carousels</li>
                    <li>4 Header variations</li>
                    <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                    <li>+ 11 extra pages showing template features</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Design</h1>
                  <ul class="list-unstyled">
                    <li>Clean and elegant design</li>
                    <li>Full width and boxed mode</li>
                    <li>Easily readable Roboto font and awesome icons</li>
                    <li>7 preprepared colour variations</li>
                  </ul>
                </div>
                <div class="col-md-7"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7"><img src="assets/img/template-easy-code.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h1>Easy to customize</h1>
                  <ul class="list-unstyled">
                    <li>7 preprepared colour variations.</li>
                    <li>Easily to change fonts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End-->
    </div>
  </section>

  <!-- <div class="row ">
      <div *ngFor="let feature of features " class="col-4 text-center">
          <img src="{{feature.path}}" alt="{{feature.title}}">
          <h3>{{feature.title}}</h3>
          <p>{{feature.desc}}</p>
      </div>

  </div> -->

  <section class="bar background-white">
    <div class="container text-center">
      <div class="row">
        <div *ngFor="let feature of features" class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-{{feature.icon}}"></i></div>
            <h3 class="h4">{{feature.title}}</h3>
            <p>{{feature.desc}}</p>
          </div>
      </div>
    </div>
  </div>
  </section>
  <section class="bar background-pentagon no-mb text-md-center">
    <div *ngFor="let testmonial of testmonials" class="container">
      <div class="heading text-center">
        <h2>{{testmonial.title}}</h2>
      </div>
      <p class="lead">{{testmonial.desc}}</p>
      <!-- Carousel Start-->
      <ul *ngIf="testmonial.children?.length" class="owl-carousel testimonials list-unstyled equal-height">
        <li *ngFor="let child of testmonial.children" class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>{{child.desc}}</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-{{child.icon}}"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>{{child.name}}</h5>
                  <p>{{child.disig}}</p>
                </div>
                <div class="avatar"><img alt="{{child.seal}}" src="{{child.path}}" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        
      </ul>
      <!-- Carousel End-->
    </div>
  </section>
  <section *ngFor="let info of moreinfo" style="background: url({{info.imgurl}}) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div  class="container">
      <div class="icon icon-outlined icon-lg"><i class="fa fa-file-{{info.icon}}"></i></div>
      <h3 class="text-uppercase">{{info.title}}</h3>
      <p class="lead">{{info.desc}}</p>
      <p class="text-center"><a href="{{info.path}}" class="btn btn-template-outlined-white btn-lg">{{info.text}}</a></p>
    </div>
  </section>

  <section class="bg-white bar">
    <div *ngFor="let aboutinfo of aboutmore" class="container">
      <div class="heading text-center">
        <h2>{{aboutinfo.title}}</h2>
      </div>
      <p class="lead">{{aboutinfo.desc}}<a href="{{aboutinfo.path}}">{{aboutinfo.text}}</a></p>
      <div *ngIf="aboutinfo.children?.length" class="row">
        <div  *ngFor="let child of aboutinfo.children" class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="img/portfolio-4.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">Fashion Now </a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="img/portfolio-3.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">What to do</a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="img/portfolio-5.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">5 ways to look awesome</a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="img/portfolio-6.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">Fashion Now </a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

  <section class="bar bg-gray">
    <div *ngFor="let client of ourclients" class="container">
      <div class="heading text-center">
        <h2>{{client.title}}</h2>
      </div>
      <ul *ngIf="client.children?.length" class="list-unstyled owl-carousel customers no-mb">
        <li *ngFor="let subclient of client.children" class="item"><img src="{{subclient.path}}" alt="{{subclient.seal}}" class="img-fluid"></li>
     
      </ul>
    </div>
  </section>

  <div class="get-it">
    <div class="container">
      <div *ngFor="let site of sites" class="row">
        <div class="col-lg-8 text-center p-3">
          <h3>{{site.title}}</h3>
        </div>
        <div class="col-lg-4 text-center p-3">   <a href="{{site.path}" class="btn btn-template-outlined-white">{{site.text}}</a></div>
      </div>
    </div>
  </div>