
<app-header></app-header>
<section class="bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!-- MENUS AND WIDGETS -->
          <div *ngFor="let category of catagories" class="panel panel-default sidebar-menu with-icons">
            <div  class="panel-heading">
              <h3 class="h4 panel-title">{{category.title}}</h3>
            </div>
            <div class="panel-body">
              <ul *ngIf="category.children?.length" class="nav nav-pills flex-column text-sm">
                <li *ngFor="let child of category.children" class="nav-item"><a href="{{child.path}}" class="nav-link">{{child.title}}</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
            <div id="accordion" role="tablist" class="mb-5">
                <div *ngFor="let acc of accordian; let i = index" class="card">
                    <div id="heading{{i}}" role="tab" class="card-header">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapse{{i}}" attr.aria-expanded="true" attr.aria-controls="collapse{{i}}">{{acc.title}}</a>
                        </h5>
                    </div>
                    <div *ngIf="acc.children?.length" id="collapse{{i}}" role="tabpanel" attr.aria-labelledby="heading{{i}}" data-parent="#accordion" class="collapse show">
                        <div *ngFor="let child of acc.children" class="card-body">
                        <div class="row">
                            <div class="col-md-4"><img src="{{child.imgpath}}" alt="{{child.seal}}" class="img-fluid"></div>
                            <div class="col-md-8">
                            <p>{{child.pp}}</p>
                            <p>{{child.pp}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div id="accordion" role="tablist" class="mb-5"> 
            <div class="row">
                <div *ngFor="let child of accordians; let i= index;" class="col-lg-6">
                <div id="accordion{{i}}" role="tablist">
                    <div class="card">
                    <div id="heading{{i}}" role="tab" class="card-header">
                        <h5 class="mb-0"><a data-toggle="collapse" href="#collapse{{i}}" attr.aria-expanded="true" attr.aria-controls="collapse{{i}}">{{child.title}}</a></h5>
                    </div>
                    <div id="collapse{{i}}" role="tabpanel" attr.aria-labelledby="heading{{i}}" attr.data-parent="#accordion{{i}}" class="collapse show">
                        <div class="card-body">{{child.desc}}</div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div> 
      </div>
    </div>
  </section>
  <div class="get-it">
    <div class="container">
      <div *ngFor="let site of sites" class="row">
        <div class="col-lg-8 text-center p-3">
          <h3>{{site.title}}</h3>
        </div>
        <div class="col-lg-4 text-center p-3">   <a href="{{site.path}" class="btn btn-template-outlined-white">{{site.text}}</a></div>
      </div>
    </div>
  </div>






<app-footer></app-footer>